[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
pillow = "*"
django-crispy-forms = "*"
matplotlib = "*"
seaborn = "*"
pandas = "*"
xhtml2pdf = "*"
django-ckeditor = "*"
django-bootstrap-modal-forms = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
