{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}home{% endblock  %}

{% block scripts %}
    <script src= "{% static 'sales/home.js' %}" defer ></script>
{% endblock scripts %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
          <div id="alert-box"></div>
          <form action="" id="report-form">
            {% csrf_token %}
            {{report_form|crispy}}              
            <button type="submit" class="btn btn-info mt-2">save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- no data -->
{% if no_data %}
    <div class="alert alert-warning" role="alert">
        {{no_data}}
    </div>
{% endif %}

<!-- form action-->
<form action="" method="post">
    {% csrf_token %}
    {{search_form|crispy}}
    <button type="submit" class='btn btn-primary mt-3'>search</button>
</form>
<br>
{% if sale_df %}
    Sales df
    {{sale_df|safe}}
    <br>
    Position df
    {{positions_df|safe}}
    <br>
    merged 
    {{merged_df|safe}}
    <br>
    group df 
    {{df|safe}}
    <br>
    Chart
    <img src="data:image/png;base64, {{chart|safe}}" alt="" id='img'>
{% endif %}
<br>
<!-- Button trigger modal -->
<button class="btn btn-primary not-visible" id="report-btn"  data-bs-toggle="modal" data-bs-target="#reportModal">add report</button>
{% endblock content %}
